.app {
  padding: 0;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
  height: 100%;
}

.admin {
  padding: 30px 0 60px 0;
  background: #ebedf0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 75vh;
}

.admin__admin {
  display: flex;
  height: 100%;
}

.admin__body {
  display: flex;
  align-items: flex-start;
}

.side-panel {
}

.admin__side-panel {
  flex-basis: 35%;
  height: 60%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.side-panel__body {
  padding: 10px;
  overflow: scroll;
  max-height: 400px;
}

/* width */
.side-panel__body::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

/* Track */
.side-panel__body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.side-panel__body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.side-panel__body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-row {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 15px;
}

.product-row__info {
  display: flex;
  padding: 5px;
}

.product-row__id {
  padding: 5px 20px;
  border: 1px solid #000;
}

.product-row__name {
  padding: 5px 20px;
  border: 1px solid #000;
}

.product-row__price {
  padding: 5px 20px;
  border: 1px solid #000;
}

.product-row__actions {
  padding: 5px;
}

.product-row__actions a {
  display: inline-block;
  background-color: rgb(73, 134, 204);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 14px;
  outline: none;
  border: none;
}

.admin__form {
  flex-basis: 60%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-left: auto;
}

.admin__input-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.admin__input-block {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.admin__input-label {
  margin-bottom: 6px;
  color: rgb(129, 140, 153);
  font-weight: 400;
  font-size: 14px;
}

.admin__input {
  padding: 9px 11px;
  border-radius: 8px;
  font-size: 15px;
  border: 1px solid rgba(59, 59, 59, 0.3);
  height: 34px;
  outline: none;
  background-color: rgba(59, 59, 59, 0.1);
  width: 85%;
}

.admin__input:hover {
  border: 1px solid rgba(59, 59, 59, 0.7);
}

.admin__input-block:last-of-type {
}

.admin__input-submit {
  flex-basis: 100%;
  margin-top: 26px;
}

.admin__input-submit-btn {
  background-color: rgb(73, 134, 204);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px 14px;
  outline: none;
  border: none;
}
