* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  min-height: 100%;
  background: #e5e5e5;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
  padding: 30px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  max-width: 1140px;
  padding: 0 30px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: relative;
}

.header::after {
  content: "";
  height: 1px;
  width: 105%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #eaeaea;
  position: absolute;
  bottom: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LOGO */

.logo {
  display: flex;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}

.logo__img-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo__title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}

.logo__subtitle {
  font-weight: normal;
  font-size: 14px;

  color: #9d9d9d;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions > * {
  margin-left: 30px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.shopping-cart__icon {
  cursor: pointer;
}

.shopping-cart__sum {
  margin-left: 10px;
  font-weight: 600;
  color: #5c5c5c;
  line-height: 1px;
}

/* Говнокод */
.header__wishlist {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Рекламный блок */

.ad {
  padding: 30px;
}

.ad__body {
  display: flex;
  height: 300px;
  width: 100%;
}

.ad__block {
  border-radius: 20px;
}

.ad-block-stan-smith {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  background-color: #f4efe9;
}

.stan-smith-info {
  width: 33%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stan-smith-info__sponsors {
  align-self: flex-start;
  margin-bottom: 30px;
}

.ad-block-stan-smith__img {
  width: 67%;
  height: 100%;
}

.ad-block-stan-smith__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.stan-smith-info__title {
  font-weight: bold;
  font-size: 38px;
  color: #000000;
  margin-bottom: 11px;
}

.stan-smith-info__title-name {
  color: #8bb43c;
}

.stan-smith-info__link {
  padding: 14px 56px;
  background: #a5d364;
  border-radius: 110px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-left: -40px;
}
