* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  min-height: 100%;
  background: #e5e5e5;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body {
  padding: 30px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.app {
  max-width: 1140px;
  padding: 0 30px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  position: relative;
}

.header::after {
  content: "";
  height: 1px;
  width: 105%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background-color: #eaeaea;
  position: absolute;
  bottom: 0;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LOGO */

.logo {
  display: flex;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  cursor: pointer;
}

.logo__img-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo__title {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
}

.logo__subtitle {
  font-weight: normal;
  font-size: 14px;

  color: #9d9d9d;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__actions > * {
  margin-left: 30px;
}

.shopping-cart {
  display: flex;
  align-items: center;
}

.shopping-cart__icon {
  cursor: pointer;
}

.shopping-cart__sum {
  margin-left: 10px;
  font-weight: 600;
  color: #5c5c5c;
  line-height: 1px;
}

/* Говнокод */
.header__wishlist {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Рекламный блок */

.ad {
  padding: 30px;
}

.ad__body {
  display: flex;
  height: 300px;
  width: 100%;
}

.ad__block {
  border-radius: 20px;
}

.ad-block-stan-smith {
  display: flex;
  height: 100%;
  flex-basis: 100%;
  background-color: #f4efe9;
}

.stan-smith-info {
  width: 33%;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stan-smith-info__sponsors {
  align-self: flex-start;
  margin-bottom: 30px;
}

.ad-block-stan-smith__img {
  width: 67%;
  height: 100%;
}

.ad-block-stan-smith__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.stan-smith-info__title {
  font-weight: bold;
  font-size: 38px;
  color: #000000;
  margin-bottom: 11px;
}

.stan-smith-info__title-name {
  color: #8bb43c;
}

.stan-smith-info__link {
  padding: 14px 56px;
  background: #a5d364;
  border-radius: 110px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-left: -40px;
}

/* Основная страница */

.main-products__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-products__title {
  flex-basis: 50%;
  text-align: left;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
}

.main-products__search {
  flex-basis: 50%;
}

.main-products__search-input-container {
  display: flex;
  max-width: max-content;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 13px 5px 13px 18px;
  margin-left: auto;
}

.main-products__search-input-button {
  width: 14px;
  height: 14px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.main-products__search-input {
  font-size: 14px;
  border: none;
  outline: none;
}

.main-products__search-input::placeholder {
  color: #c4c4c4;
}

.main-products__products-container {
  flex-basis: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.main-products__product-card {
  margin: 0px 28px;
}

.main-products__product-card:first-child {
  margin-left: 0;
}

.main-products__product-card:nth-child(4n + 1) {
  margin-left: 0;
}

.main-products__product-card:nth-child(4n) {
  margin-right: 0;
}

.main-products__product-card {
  margin-bottom: 50px;
}

.product-card {
  position: relative;
  padding: 20px 30px 32px 30px;
  max-width: 212px;
  background: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 40px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-card:hover {
  position: relative;
  transform: translateY(-10px);
  padding: 20px 30px 32px 30px;
  max-width: 212px;
  background: #ffffff;
  border-radius: 40px;
  border: 2px solid #f8f8f8;
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}

.product-card__wish-btn {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 2px solid #f8f8f8;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card__wish-btn.active {
  background-color: #fef0f0;
  border: none;
  outline: none;
}

.product-card__wish-btn.active::before {
  content: url("./public/assets/icons/wisth-active-card.svg");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__wish-btn::before {
  content: url("./public/assets/icons/wish-disable-card.png");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.product-card__wish-btn:hover {
  background-color: #fef0f0;
  border: none;
  outline: none;
}

.product-card__wish-btn:hover::before {
  content: url("./public/assets/icons/wisth-active-card.svg");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__img {
  width: 133px;
  height: 112px;
  margin-bottom: 14px;
  cursor: pointer;
}

.product-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card__name {
  font-weight: 400;
  line-height: 17px;
  color: #000000;
  margin-bottom: 14px;
}

.product-card__price {
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #bdbdbd;
  line-height: 13px;
}

.product-card__price--sum {
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.product-card__add-btn {
  position: absolute;
  right: 30px;
  bottom: 32px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 2px solid #f8f8f8;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

.product-card__add-btn.active {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  border: none;
}

.product-card__add-btn.active::before {
  content: url("./public/assets/icons/confirmed-card.svg");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__add-btn::before {
  content: url("./public/assets/icons/add-card.svg");
  width: 11px;
  height: 11pxpx;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card__add-btn:hover {
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  border: none;
}

.product-card__add-btn:hover::before {
  content: url("./public/assets/icons/confirmed-card.svg");
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
